body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color:#2e2e38;
 
}

.App {
  padding: 0;
  margin: 0;
  height: 100%;

}

.cardlist {
  display: flex;
  padding: 3em;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 1.5rem;
  color: white;
  border-radius: 3px;
  background-color:#2e2e38;
  box-shadow: 0.1rem 0rem 0rem white;
  border-radius:1px;

  width: 250;
  height: 350px;
  min-width: 250px;

}
